@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  src: url(./fonts/Inter/Inter-Bold.otf);
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: italic;
  src: url(./fonts/Inter/Inter-BoldItalic.otf);
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  src: url(./fonts/Inter/Inter-SemiBold.otf);
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: italic;
  src: url(./fonts/Inter/Inter-SemiBoldItalic.otf);
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  src: url(./fonts/Inter/Inter-Medium.otf);
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/Inter/Inter-Regular.otf);
}

/** VARIABLES*/
:root {
  /**COLORS*/
  --white: #ffffff;
  --blue: #3e85f3;
  --pink: #ffd2dd;
  --black: #13151a;
  --modal-backdrop: #dcebf7;
  --user-panel-active: #e3f3ff;
  --user-panel-text: #343434;
  --switch: var(--user-panel-active);
  --switch-active: #cae8ff;
  --month-status-low: #ceeefd;
  --month-status-medium: #fcf0d4;
  --month-status-high: var(--pink);
  --day-status-low:var(--blue);
  --day-status-medium: #f3b249;
  --day-status-high: #ea3d65;

  --add-task-button: var(--user-panel-active);
  --review-pop-up-cancel-btn: #e5edfa;
  --user-profile-black: #21222c;
  --form-textarea: #f6f6f6;
  --hover: #2b78ef;
  --primary-text-color: #111111;
  --label-text-color: #343434cc;
  --heading-text-color: #171820;
  --description-text-color: #111111e6;
  --task-btn-cancel-bg-color: #efefef;
  --border-dark-theme: 1px solid rgba(255, 255, 255, 0.15);
  --border-modal: 1px solid #dce3e5cc;
  --background-table: #dce3e580;
  --change-date-btn: #dce3e5;
  --out-month-day: #34343450;
  --month-btn-border-right: #3e85f333;
  /**FONTS*/
  --main-font: 'Inter', sans-serif;
  /**TRANSITIONS*/
  --transition: background-color 500ms ease-in-out, color 500ms ease-in-out,
    box-shadow 500ms ease-in-out;
  /**SHADOWS for buttons*/
  --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  --box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  --box-shadow-hover: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  --logo-text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07),
    0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
  --shadow-btn: 4px 2px 16px rgba(136, 165, 191, 0.48);
}

/**RESET STYLES*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/**GENERAL STYLES*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

:focus {
  outline: transparent;
}

body {
  margin: 0;
  padding: 0;
}